<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="ar.com.prueba"
        version="0.1.0">

    <!--nombre del plugin-->
    <name>Prueba de un plugin</name>

    <!--ubicacion de archivo js-->
    <js-module src="www/prueba.js" name="archivoDePrueba">
        <merges target="prueba" />
    </js-module>


    <!--plataforma-->
    <platform name="android">

        <!--ubicacion de archivo xml-->
        <config-file target="res/xml/config.xml" parent="/*">

            <!--nombre del servicio. que debe ser igual al nombre del servicio en la funcion exec del js-->
            <feature name="prueba">

                <!--param es siempre asi-->
                <param name="android-package" value="ar.com.prueba"/>
            </feature>
        </config-file>

        <!--ruta del archivo de java y destino una vez que se agrega el plugin-->
        <source-file src="src/android/prueba.java" target-dir="src/ar/com/prueba" />

    </platform>

</plugin>